body {
    font-family:'Special Elite', cursive;
    background-color: floralwhite;

}

.header_div {
    background: mediumpurple;
    color: rgb(0, 0, 0);

}

.header_div p {
    font-family: 'Roboto', sans-serif;
    color: rgb(33, 24, 43);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;

}

.copy_right_footer {
    position: fixed;
    color: rgb(237, 237, 253);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:royalblue;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    
}